body {
    font-family: 'Merriweather', serif;
    margin: 0;    
    text-align: center;    
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    
}

h2 {
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

/* ------------------------------------------------------------- */

.top-cloud {
    position: absolute;
    right: 450px;
    top: 50px;
    height: 200px;
}

.bottom-cloud {
    position: absolute;
    left: 450px;
    bottom: 300px;
    height: 200px;
}

.skill-1-image {
    float: left;
    width: 25%;
    margin-right: 30px;
    
}

.skill-2-image {
    float: right;
    margin-left: 30px;
    width: 25%;
}

/* ---------------------------------------------------- */

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    
}

.bottom-container {
    
}

.skill-row {
    margin: 50px 25% 150px 25%;
    text-align: left;
    width: 50%;
    line-height: 2;
    
}





