body {
    background-color: #E3FDFD;
}

hr {
    border-style: dotted none none none;
    height: 0px;
    width: 5%;
    border-width: 5px;
    border-color: gray;
}

hr {
    border-style: dotted none none none;
    height: 0px;
    width: 5%;
    border-width: 5px;
    border-color: gray;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

h4 {
    color: #66BFBF;
}